# operator templates for nodes
##############################

# fre operator
fre_op:
  base: OperatorTemplate
  equations:
    - "inp = J*tau*r_in + eta + I_ext"
    - "inp_sq = absv(inp + sqrt(inp^2 + Delta^2))/2*pi"
    - "r' = (sqrt(inp_sq) - r) / tau"
  variables:
    r: output(0.0)
    inp: variable(0.0)
    inp_sq: variable(0.0)
    r_in: input(0.0)
    I_ext: input(0.0)
    tau: 1.0
    J: 10.0
    Delta: 1.0
    eta: 0.0

# fre operator with SD
fre_sd_op:
  base: OperatorTemplate
  equations:
    - "inp = J*tau*r_in + eta + I_ext"
    - "inp_sq = absv(inp + sqrt(inp^2 + Delta^2))/2*pi"
    - "r' = (sqrt(inp_sq) - r) / tau"
    - "s' = (a*r-s)/tau_s"
    - "a' = (1-a)/tau_a + (A0-a)*kappa*r"
  variables:
    s: output(0.0)
    r: variable(0.0)
    a: variable(0.0)
    inp: variable(0.0)
    inp_sq: variable(0.0)
    s_in: input(0.0)
    I_ext: input(0.0)
    tau: 1.0
    tau_s: 0.5
    tau_a: 20.0
    J: 10.0
    Delta: 1.0
    eta: 0.0
    A0: 0.2
    kappa: 1.0
    zero: 0.0

# qif operator
qif_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta/(pi*tau) + 2.0*r*v) / tau"
    - "v' = (v^2 - (pi*tau*r)^2 + tau*J*r_in + eta + I_ext) / tau"
  variables:
    r: output(0.0)
    v: variable(0.0)
    Delta: 0.1
    tau: 10.0
    J: 20.0
    eta: 0.0
    I_ext: input(0.0)
    r_in: input(0.0)

# qif operator
qif_stdp_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta/(pi*tau) + 2.0*r*v) / tau"
    - "v' = (v^2 - (pi*tau*r)^2 + tau*J*s_in + eta + I_ext) / tau"
    - "s' = (r-s)/tau_s"
    - "u' = (r-u)/tau_u"
  variables:
    r: output(0.01)
    v: variable(-60.0)
    s: variable(0.0)
    u: variable(0.0)
    Delta: 0.1
    tau: 10.0
    J: 20.0
    tau_u: 100.0
    tau_s: 5.0
    eta: 0.0
    I_ext: input(0.0)
    s_in: input(0.0)

# qif operator
qif_sp_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta/(pi*tau) + 2.0*r*v) / tau"
    - "v' = (v^2 - (pi*tau*r)^2 + tau*J*s_in + eta + I_ext) / tau"
    - "s' = (a*r-s)/tau_s"
    - "a' = (1-a)/tau_a + (A0-a)*kappa*r"
    - "u' = (r-u)/tau_u"
  variables:
    r: output(0.01)
    v: variable(-60.0)
    s: variable(0.0)
    a: variable(1.0)
    u: variable(0.0)
    Delta: 0.1
    kappa: 0.0
    A0: 0.0
    tau_a: 50.0
    tau: 10.0
    J: 20.0
    tau_u: 100.0
    tau_s: 5.0
    eta: 0.0
    I_ext: input(0.0)
    s_in: input(0.0)

# qif operator
qif_sd_op:
  base: OperatorTemplate
  equations:
    - "r' = (Delta/(pi*tau) + 2.0*r*v) / tau"
    - "v' = (v^2 - (pi*tau*r)^2 + tau*J*s_in + eta + I_ext) / tau"
    - "s' = (a*r-s)/tau_s"
    - "a' = (1-a)/tau_a + (A0-a)*kappa*r"
  variables:
    r: output(0.01)
    v: variable(-60.0)
    s: variable(0.0)
    a: variable(1.0)
    Delta: 0.1
    theta: 0.5
    kappa: 0.0
    A0: 0.0
    tau_a: 50.0
    tau: 10.0
    J: 20.0
    tau_s: 5.0
    eta: 0.0
    I_ext: input(0.0)
    s_in: input(0.0)

# operator templates for edges
##############################

# hebbian STDP rule
brunel_op:
  base: OperatorTemplate
  equations:
    - "c = u_pre + u_post"
    - "w' = (a_ltp*(1-w)*sigmoid(gamma_ltp*(c-theta_ltp)) - a_ltd*w*sigmoid(gamma_ltd*(c-theta_ltd)) - w*(1-w)*(W0-w)) / tau_w"
    - "s_out = s_pre*w"
  variables:
    s_out: output(0.0)
    w: variable(0.0)
    c: variable(0.0)
    u_pre: input(0.0)
    u_post: input(0.0)
    s_pre: input(0.0)
    tau_w: 100.0
    W0: 0.5
    a_ltp: 0.1
    a_ltd: 0.1
    theta_ltp: 1.0
    theta_ltd: 1.0
    gamma_ltp: 10.0
    gamma_ltd: 10.0

# hebbian STDP rule
stdp_op:
  base: OperatorTemplate
  equations:
    - "w' = a*(b*((1-w)*x_s*r_t - w*x_t*r_s) + (1-b)*(x_s*r_t - x_t*r_s)*(w-w^2))"
    - "r_out = r_s*w"
  variables:
    r_out: output(0.0)
    w: variable(1.0)
    a: 0.1
    b: 0.5
    r_s: input(0.0)
    r_t: input(0.0)
    x_s: input(0.0)
    x_t: input(0.0)

# anti-hebbian STDP rule
stdp_ah_op:
  base: OperatorTemplate
  equations:
    - "w' = a*(b*((1-w)*x_t*r_s - w*x_s*r_t) + (1-b)*(x_t*r_s - x_s*r_t)*(w-w^2))"
    - "r_out = r_s*w"
  variables:
    r_out: output(0.0)
    w: variable(1.0)
    a: 0.1
    b: 0.5
    r_s: input(0.0)
    r_t: input(0.0)
    x_s: input(0.0)
    x_t: input(0.0)

# hebbian Oja's rule
oja_op:
  base: OperatorTemplate
  equations:
    - "w' = a*(b*((1-w)*x_s*r_t - w*x_t*r_t) + (1-b)*(x_s*r_t - x_t*r_t)*(w-w^2))"
    - "r_out = r_s*w"
  variables:
    r_out: output(0.0)
    w: variable(1.0)
    a: 0.1
    b: 0.5
    r_s: input(0.0)
    r_t: input(0.0)
    x_s: input(0.0)
    x_t: input(0.0)

# hebbian Oja's rule
oja_simple_op:
  base: OperatorTemplate
  equations:
    - "w' = a*(r_s*r_t - r_t*r_t)"
    - "r_out = r_s*w"
  variables:
    r_out: output(0.0)
    w: variable(0.0)
    a: 0.1
    r_s: input(0.0)
    r_t: input(0.0)

# anti-hebbian Oja's rule
oja_ah_op:
  base: OperatorTemplate
  equations:
    - "w' = a*(b*((1-w)*r_s*x_s - w*x_s*r_t) + (1-b)*(r_s*x_s - x_s*r_t)*(w-w^2))"
    - "r_out = r_s*w"
  variables:
    r_out: output(0.0)
    w: variable(1.0)
    a: 0.1
    b: 0.5
    r_s: input(0.0)
    r_t: input(0.0)
    x_s: input(0.0)
    x_t: input(0.0)

# node templates
################

fre_pop:
  base: NodeTemplate
  operators:
    - fre_op

fre_sd_pop:
  base: NodeTemplate
  operators:
    - fre_sd_op

qif_pop:
  base: NodeTemplate
  operators:
    - qif_op

qif_stdp_pop:
  base: NodeTemplate
  operators:
    - qif_stdp_op

qif_sp_pop:
  base: NodeTemplate
  operators:
    - qif_sp_op

qif_sd_pop:
  base: NodeTemplate
  operators:
    - qif_sd_op

# edge templates
################

brunel_edge:
  base: EdgeTemplate
  operators:
    - brunel_op

stdp_edge:
  base: EdgeTemplate
  operators:
    - stdp_op

stdp_ah_edge:
  base: EdgeTemplate
  operators:
    - stdp_ah_op

oja_edge:
  base: EdgeTemplate
  operators:
    - oja_op

oja_ah_edge:
  base: EdgeTemplate
  operators:
    - oja_ah_op

oja_simple_edge:
  base: EdgeTemplate
  operators:
    - oja_simple_op

# circuit templates
###################

fre:
  base: CircuitTemplate
  nodes:
    p: fre_pop

fre_sd:
  base: CircuitTemplate
  nodes:
    p: fre_sd_pop

qif:
  base: CircuitTemplate
  nodes:
    p: qif_pop

qif_stdp:
  base: CircuitTemplate
  nodes:
    p: qif_stdp_pop

qif_sd:
  base: CircuitTemplate
  nodes:
    p: qif_sd_pop
  edges:
    - [p/qif_sd_op/s, p/qif_sd_op/s_in, null, weight: 1.0]

qif_sp:
  base: CircuitTemplate
  nodes:
    p: qif_sp_pop
